################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/budgetChartAPI/.vs/budgetChartAPI
